.spin1 {
  height: 100px;
  width: 100px;
  margin-right: 40px;
  border-radius: 50%;
  border: 5px solid grey;
  border-top: blue 5px solid;

  animation: spin1 1s linear infinite;
}
@keyframes spin1 {
  to {
    transform: rotate(360deg);
  }
}
